<div class="ministries">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <!-- <div class="section_image"><img src="{{ iconImgPath }}" alt="" /></div> -->
                    <div class="section_title">
                        <h2>{{ title }}</h2>
                    </div>
                    <!-- <div class="section_subtitle">{{ subTitle }}</div> -->
                </div>
            </div>
        </div>
        <div class="row ministries_row">
            <div class="col-xl-4 col-md-6" *ngFor="let item of courses">
                <div class="ministry pointer" (click)="open(item.level)">
                    <div class="ministry_image"><img src="{{ item.coverImg }}" alt="https://unsplash.com/@davidbeale" /></div>
                    <div class="ministry_title">{{ item.level }}</div>
                    <div class="ministry_text">
                        <p>
                            {{ item.description }}
                        </p>
                    </div>
                    <div *ngIf="item.pdfPath" class="button ministry_button"><a (click)="open(item.pdfPath)">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
