<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <div class="section_image"><img src="../../../../assets/images/church_1.png" alt="" /></div>
                    <div class="section_title"><h2>About Me</h2></div>
                    <div class="section_subtitle">A brief introduction of me</div>
                </div>
            </div>
        </div>
        <div class="row intro_content">
            <div class="col-lg-6">
                <div class="intro_text">
                    <p>
                      Daniel K Ansah’s life is dedicated to touching lives and bringing hope to the hopeless. His mission is to establish the Kingdom of God on earth through soulwinning and practical demonstration of the Word of God
                    </p>
                    <div class="button intro_button"><a href="/profile">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intro_image"><img src="../../../../assets/images/intro.jpg" alt="" /></div>
            </div>
        </div>
    </div>
</div>
