<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <div class="section_image"><img src="{{ iconImgPath }}" alt="" /></div>
                    <div class="section_title">
                        <h2>{{ title }}</h2>
                    </div>
                    <div class="section_subtitle">{{ subTitle }}</div>
                </div>
            </div>
        </div>
        <div class="row intro_content">
            <div class="col-lg-6">
                <div class="intro_text">
                    <p>
                        {{ description }}
                    </p>
                    <div class="button intro_button"><a href="/profile">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intro_image"><img src="{{ coverImage }}" alt="" /></div>
            </div>
        </div>
    </div>
</div>
