<section class="devotional-wrapper">
    <div class="devotional-container">
        <h2 class="title">{{ devotional.title }}</h2>

        <blockquote class="quotation-alt">
            <p>{{ devotional.quotation }}</p>
        </blockquote>
        <p class="devotional-date">Published on {{ devotional.date | date : 'longDate' }}</p>

        <div class="devotional-content" [class.expanded]="isExpanded">
            <p [innerHTML]="visibleText"></p>
        </div>

        <a (click)="open(devotional.id)" class="btn btn--primary h-full-width">{{ isExpanded ? 'See less ▲' : 'See more ▼' }}</a>

        <div class="share-buttons">
            <a class="whatsapp" [href]="whatsappShareUrl" target="_blank">Share on WhatsApp</a>
        </div>
    </div>
</section>
