<div class="super_container">
    <div class="contact_info">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="contact_title">{{ data.title }}</div>
                </div>
            </div>
            <div class="row contact_info_row row-eq-height">
                <!-- Contact Info Content -->
                <div class="col-lg-6 d-flex flex-column align-items-start justify-content-end">
                    <div class="row">
                        <div class="col-lg-6 contact_info_col" *ngFor="let item of data.locations">
                            <div class="contact_info_title">{{ item.name }}</div>
                            <ul class="contact_info_list">
                                <li>{{ item.address }}</li>
                                <li>
                                    {{ item.phone_number }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Contact Info Image -->
                <div class="col-lg-6">
                    <div class="contact_info_image"><img src="{{ getImgCoverPath(data.cover_image_path) }}" alt="" /></div>
                </div>
            </div>
        </div>
        <br />
        <!-- <div class="contact_form_section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="contact_title">Contact Us</div>
                        <form action="#" class="contact_form">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="contact_input contacts_input_name" placeholder="Your Name" required="required" />
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="contact_input contact_input_email" placeholder="Your E-mail" required="required" />
                                </div>
                            </div>
                            <textarea id="contact_text_area" placeholder="Your Message" class="contact_text"></textarea>
                            <button class="contact_button trans_200">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div> -->
    </div>
</div>
