<section
    class="page-header page-header--about"
    [ngStyle]="{
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-image': 'url(' + path + ')'
    }"
></section>

<br />
<section class="page-content">
    <section class="title-section">
        <h1>{{ data.title }}</h1>
    </section>
    <br />

    <div class="row">
        <div class="column">
            <p class="lead drop-cap">{{ data.short_description }}</p>
            <p>{{ data.full_description }}</p>
            <br />

            <div class="row">
                <div class="column large-6 tab-full" *ngFor="let item of data.locations">
                    <h3>{{ item.name }}</h3>
                    <p>
                        {{ item.address }}<br />
                        {{ item.phone_number }}<br />
                    </p>
                </div>
            </div>

            <br />
            <br />
        </div>
    </div>
</section>
