<div class="super_container">
    <div class="contact_info">
        <div class="container">
            <div class="row">
                <div class="col"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div *ngFor="let center of centers" class="col-sm-3 col-md-4">
                        <div *ngIf="center.directors.length > 0" class="contact_info_title">{{ center.region }}</div>
                        <ul class="contact_info_list">
                            <li *ngFor="let director of center.directors">{{ director.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
