<section
    class="page-header page-header--volunteer"
    [ngStyle]="{
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-image': 'url(' + article.cover_image_path + ')'
    }"
></section>

<br /><br />
  <!-- <div class="banner-image">
    <img [src]="article.cover_image_path" alt="Banner image for article" />
  </div> -->
<section class="page-content">
    <section class="title-section">
        <h1>{{ article.title }}</h1>
    </section>
    <br />
    <blockquote class="quotation-alt">
        <p>{{ article.quotation }}</p>
    </blockquote>
    <br />
    <div class="row">
        <div class="column">
            <p class="lead drop-cap">
                {{ article.content }}
            </p>
            <div class="devotional-section">
                <h3>Scripture Reference</h3>
                <p>{{ article.confession }}</p>
            </div>
            <div class="devotional-section">
                <h3>Confession</h3>
                <p>{{ article.references }}</p>
            </div>
            <div class="devotional-section">
                <h3>Prayer Point</h3>
                <p>{{ article.prayer_point }}</p>
            </div>
            <br />
        </div>
    </div>

    <div class="share-buttons">
        <a class="whatsapp" [href]="whatsappShareUrl" target="_blank">Share on WhatsApp</a>
    </div>
</section>
