<section
    class="page-header page-header--events"
    [ngStyle]="{
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-image': 'url(' + path + ')'
    }"
></section>
<!-- end page-header -->
<br />
<section class="page-content">
    <div class="row wide block-large-1-2 block-900-full events-list">
        <div class="column events-list__item" *ngFor="let item of events">
            <h3 class="display-1 events-list__item-title">
                <a title="" (click)="onSeeDetail(item.id)">{{ item.title }}</a>
            </h3>
            <p>
                Et consequatur nihil odio odit voluptatem qui. Dolores doloribus cupiditate totam esse dolores quod. Magni aut incidunt fugiat labore
                est ut non ipsam nihil. Voluptate rerum dolores unde voluptas. Et similique praesentium dolor. Et quod eius sint at quae est dolores.
                Beatae quo facere hic.
            </p>
            <ul class="events-list__meta">
                <li class="events-list__meta-date">{{ item.date }}</li>
                <li class="events-list__meta-time">{{ item.time }}</li>
                <li class="events-list__meta-location">{{ item.location }}</li>
            </ul>
        </div>
    </div>
    <!-- end events-list -->
</section>
