<section
    class="page-header page-header--volunteer"
    [ngStyle]="{
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-image': 'url(' + path + ')'
    }"
></section>
<br /><br />
<section class="page-content">
    <div class="row">
        <div class="column">
            <p class="lead drop-cap">
                {{ data.short_description }}
            </p>

            <p>
                {{ data.full_description }}
            </p>

            <br />

            <h2>Categories</h2>
            <br />
            <app-leadership-courses-categories [categories]="leadershipDetailsCategories"></app-leadership-courses-categories>
        </div>
    </div>
</section>
