<section class="page-header page-header--volunteer">
    <div class="gradient-overlay"></div>
    <div class="row page-header__content"></div>
</section>
<!-- end pageheader -->
<br /><br />

<section class="page-content">
    <div class="row">
        <div class="column">
            <p class="lead drop-cap">
                {{ data.short_description }}
            </p>

            <p>
                {{ data.full_description }}
            </p>

            <br />

            <h2>Monthly Power Living</h2>

            <div class="row block-large-1-2 block-1000-full block-list">
                <div class="column block-list__item" *ngFor="let item of data.monthly_power_living">
                    <img src="{{ getImgCoverPath(item.cover_image_path) }}" />
                    <a (click)="open(item.document)" class="btn btn--primary h-full-width">Read More</a>
                </div>
            </div>
            <!-- end block-list -->

            <!-- end volunteerForm -->
        </div>
    </div>
</section>
<!-- end page content -->
