<div class="tabs">
    <input type="radio" name="tabs" id="tabone" />
    <label for="tabone">Reading Materials</label>
    <div class="tab">
        <app-reading [readings]="materials.readings"></app-reading>
    </div>

    <input type="radio" name="tabs" id="tabtwo" />
    <label for="tabtwo">Video Clips</label>
    <div class="tab">
        <app-videoclips [videos]="materials.videos"></app-videoclips>
    </div>

    <input type="radio" name="tabs" id="tabthree" />
    <label for="tabthree">Assesments</label>
    <div class="tab">
        <h1>Assesments Content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <input type="radio" name="tabs" id="tabfour" />
    <label for="tabfour">Assigments</label>
    <div class="tab">
        <h1>Assigments Content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
</div>
