<header class="s-header">
    <div class="header-logo">
        <a class="site-logo" (click)="onSeeDetail('home')">
            <!-- <img src="../../../../assets/hesed/images/logo2.svg" alt="Homepage" /> -->
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
    </div>

    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li class="current"><a (click)="onSeeDetail('home')" title="Home">Home</a></li>
            <li><a (click)="onSeeDetail('profile')" title="About">About</a></li>
            <li><a (click)="onSeeDetail('events')" title="Services">Events</a></li>
            <li><a (click)="onSeeDetail('contact-us')" title="Contact us">Contact</a></li>
        </ul>
    </nav>

    <a class="header-menu-toggle"><span>Menu</span></a>
</header>
