<section class="s-social">
    <div class="row social-content">
        <div class="column">
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="pointer" (click)="redirectSocialMediaLink('facebook')" title="">
                        <span class="social-list__icon social-list__icon--facebook"></span>
                        <span class="social-list__text">Facebook</span>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="pointer" (click)="redirectSocialMediaLink('instagram')" title="">
                        <span class="social-list__icon social-list__icon--instagram"></span>
                        <span class="social-list__text">Instagram</span>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="pointer" (click)="redirectSocialMediaLink('youtube')" title="">
                        <span class="social-list__icon social-list__icon--youtube"></span>
                        <span class="social-list__text">Youtube</span>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="pointer" (click)="redirectSocialMediaLink('podcast')" title="">
                        <span class="social-list__icon social-list__icon--apple"></span>
                        <span class="social-list__text">Podcast</span>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="pointer" (click)="redirectSocialMediaLink('spotify')" title="">
                        <span class="social-list__icon social-list__icon--spotify"></span>
                        <span class="social-list__text">Spotify</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
