<section
    class="page-header page-header--volunteer"
    [ngStyle]="{
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-image': 'url(' + path + ')'
    }"
></section>
<br /><br />
<section class="page-content">
    <section class="title-section">
        <h1>Courses</h1>
    </section>
    <div class="course-grid">
        <div class="course-card" *ngFor="let item of courses">
            <img [src]="item.cover_image_path" alt="Course cover" class="course-image" />

            <div class="course-content">
                <!-- <figcaption class="course-description">{{ item.short_description }}</figcaption> -->
                <a (click)="viewDetail(item.id)" class="btn btn--primary h-full-width">Learn More</a>
            </div>
        </div>
    </div>
</section>
