<section
    class="page-header page-header--volunteer"
    [ngStyle]="{
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-image': 'url(' + path + ')'
    }"
></section>
<br /><br />
<section class="page-content">
    <section class="title-section">
        <h1>Courses</h1>
    </section>
    <ul class="grid">
        <li *ngFor="let item of courses">
            <figure class="grid__figure">
                <img src="{{ item.cover_image_path }}" alt="" />
                <figcaption>{{ item.short_description }}</figcaption>
                <a (click)="viewDetail(item.id)" class="btn btn--primary h-full-width">Learn More</a>
            </figure>
        </li>
    </ul>
</section>
