<section
    class="page-header page-header--about"
    [ngStyle]="{
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-image': 'url(' + path + ')'
    }"
></section>

<br />
<section class="page-content">
    <div class="row">
        <div class="column">
            <p class="lead drop-cap">{{ data.text }}</p>

            <br />

            <h2>{{ data.title }}</h2>
            <div class="row block-large-1-2 block-1000-full block-list" *ngFor="let item of data.roles">
                <div class="column block-list__item">
                    <h6>{{ item.type }}</h6>

                    <p>
                        {{ item.description }}
                    </p>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</section>
