<div class="quote">
    <div class="quote_background parallax-window" data-parallax="scroll" data-image-src="../../../assets/images/quote.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <div class="section_image"><img src="{{ iconImgPath }}" alt="" /></div>
                    <div class="section_title">
                        <h2>{{ title }}</h2>
                    </div>
                    <div class="section_subtitle">{{ subtitle }}</div>
                </div>
            </div>
        </div>
        <div class="row quote_row">
            <div class="col text-center">
                <div class="quote_char"><img src="../../../assets/images/quote_char.png" alt="" /></div>
                <div class="quote_text">
                    {{ text }}
                </div>
                <div class="quote_source">{{ source }}</div>
            </div>
        </div>
    </div>
</div>
