<section class="s-series">
    <div class="series-img" style="background-image: url('images/series-2000.jpg')"></div>

    <div class="row row-y-center series-content">
        <div class="column large-half medium-full">
            <h3 class="subhead">{{ ministry.name }}</h3>
            <h2>{{ ministry.slogan }}</h2>
            <p>
                {{ ministry.description }}
            </p>
        </div>

        <div class="column large-half medium-full">
            <img src="{{ ministry.cover_image_path }}" alt="Not found" width="500" height="600" />
        </div>
    </div>
</section>
