<app-social-banner></app-social-banner>

<footer class="s-footer">
    <div class="row footer-top">
        <div class="column large-4 medium-5 tab-full">
            <!-- <div class="footer-logo">
                <a class="site-footer-logo" href="index.html">
                    <img [src]="footerLogo" alt="Homepage" *ngIf="footerLogo" />
                </a>
            </div> -->
            <div class="column ss-copyright">
                <span>Copyright©2023 Daniel K. Ansah</span>
                <p>Designed by <a href="https://twinmindsolutions.co.uk/" target="_blank">TwinMindSolutions</a></p>
            </div>
        </div>
        <div class="column large-half tab-full">
            <div class="row">
                <div class="column large-7 medium-full">
                    <h4 class="h6">Our Location</h4>
                    <p>
                        {{ footerAddress }} <br />
                        {{ footerEmail }} <br />
                        {{ footerPhone }} <br />
                    </p>
                    <!--
                    <p>
                        <a href="https://goo.gl/maps/bc7C7eYtSmnNs6216" target="_blank" class="btn btn--footer">Get Direction</a>
                    </p> -->
                </div>
                <div class="column large-5 medium-full">
                    <h4 class="h6">Quick Links</h4>
                    <ul class="footer-list">
                        <li><a (click)="onSeeDetail('home')">Home</a></li>
                        <li><a (click)="onSeeDetail('profile')">About</a></li>
                        <li><a (click)="onSeeDetail('events')">Events</a></li>
                        <li><a (click)="onSeeDetail('contact-us')">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer-top -->

    <!-- <div class="row footer-bottom">
        <div class="column ss-copyright">
            <span>© Copyright Hesed 2019</span>
            <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
        </div>
    </div> -->
    <!-- footer-bottom -->

    <div class="ss-go-top">
        <a class="smoothscroll" title="Back to Top" href="#top">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z" /></svg>
        </a>
    </div>
    <!-- ss-go-top -->
</footer>
<!-- end s-footer -->
