<section class="page-header page-header--events class"></section>
<section class="page-content">
    <div class="row">
        <div class="column">
            <div class="media-wrap event-thumb">
                <img src="{{ getImgCoverPath(event.cover_image_path) }}" alt="" />
            </div>
            <div class="event-content">
                <div class="event-title">
                    <h2 class="display-1">{{ event.title }}</h2>
                </div>

                <p>
                    {{ event.description_1 }}
                </p>

                <p>
                    {{ event.description_2 }}
                </p>

                <ul class="event-meta">
                    <li><strong>Date</strong>{{ event.date }}</li>
                    <li><strong>Time</strong>{{ event.time }}</li>
                    <li><strong>Location</strong>{{ event.location }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
