<div class="sermon">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="sermon_title_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                    <div class="sermon_content">
                        <div class="sermon_title">{{ event.title }}</div>
                        <ul class="sermon_list">
                            <li>Sermon by: <a>Test</a></li>
                            <li>Categories: <a>Test</a>, <a href="#">Test</a></li>
                            <li>Date: <a>Monday 11 March, 2018</a></li>
                        </ul>
                    </div>
                    <!-- <div class="sermon_buttons ml-lg-auto">
                        <ul>
                            <li class="sermon_item"><img class="svg" src="images/sermon_1.svg" alt="" /></li>
                            <li class="sermon_item"><img class="svg" src="images/sermon_2.svg" alt="" /></li>
                            <li class="sermon_item"><img class="svg" src="images/sermon_3.svg" alt="" /></li>
                            <li class="sermon_item"><img class="svg" src="images/sermon_4.svg" alt="" /></li>
                            <li class="sermon_item"><img class="svg" src="images/sermon_5.svg" alt="" /></li>
                            <li class="sermon_item"><img class="svg" src="images/sermon_6.svg" alt="" /></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="sermon_text">
                    <p>
                        Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce
                        venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id. Phasellus fringilla
                        nisl sed sem scelerisque, eget aliquam magna vehicula.nteger nec bibendum lacus. Praesent malesuada congue magna at finibus.
                        In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sermon_text">
                    <p>
                        At finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu
                        varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id. Phasellus fringilla nisl sed sem scelerisque, eget aliquam
                        magna vehicula.nteger nec bibendum lacus. Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst.
                        Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id
                        iaculis risus tempor.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="sermon_image_small"><img src="../../../assets/images/sermon_small.jpg" alt="" /></div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <div class="sermon_pastor d-flex flex-row align-items-start justify-content-start">
                    <div class="sermon_pastor_image_container">
                        <div class="sermon_pastor_image"><img src="images/sermon_pastor.jpg" alt="" /></div>
                    </div>
                    <div class="sermon_pastor_content">
                        <div class="sermon_pastor_title">Michael Miths</div>
                        <div class="sermon_pastor_subtitle">Lead Pastor</div>
                        <div class="sermon_pastor_text">
                            <p>
                                Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce
                                venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
