<section
    class="page-header page-header--about"
    [ngStyle]="{
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-image': 'url(' + path + ')'
    }"
></section>

<br />
<section class="page-content">
    <section class="title-section">
        <h1>{{ data.title }}</h1>
    </section>
    <br />
    <div class="row">
        <div class="column">
            <p class="lead drop-cap">{{ data.description }}</p>
            <br />
            <input (click)="donate()" id="submit" class="btn btn--primary btn-wide btn--large h-full-width" value="Click To Donate" />

        </div>
    </div>
</section>
