<div class="news">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <div class="section_image"><img src="images/church_6.png" alt="" /></div>
                    <div class="section_title"><h2>Upcoming events</h2></div>
                    <div class="section_subtitle">God loves us all</div>
                </div>
            </div>
        </div>
        <div class="row news_row">
            <div class="col-lg-4 news_col">
                <div class="news_item">
                    <div class="news_image">
                        <img src="../../../assets/images/news_2.jpg" alt="" />
                        <div class="news_date d-flex flex-column align-items-center justify-content-center">
                            <div class="news_day">3rd Friday</div>
                            <div class="news_month">of the month</div>
                        </div>
                    </div>
                    <div class="news_content">
                        <div class="news_title">All Believers Fire Nights - ABFN</div>
                        <div class="news_text">
                            <p>
                                ABFN , this is monthly healing and deliverance service event held on third Friday of every month. It is an intense
                                atmosphere of prayer , worship and deliverance
                            </p>
                        </div>
                        <div class="news_link"><a href="/home">Read More</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 news_col">
                <div class="news_item">
                    <div class="news_image">
                        <img src="../../../assets/images/news_1.jpg" alt="" />
                        <div class="news_date d-flex flex-column align-items-center justify-content-center">
                            <div class="news_day">26-29</div>
                            <div class="news_month">Dec, 2023</div>
                        </div>
                    </div>
                    <div class="news_content">
                        <div class="news_title">International Youth Conference , IYC</div>
                        <div class="news_text">
                            <p>
                                IYC is an annual event normally held in last week of December where people, from all walks of life, camp in the
                                presence of God to be taught, impacted and transformed by the Word. IYC is an intense atmosphere of Worship, Prayer,
                                Healings and Deliverance.
                            </p>
                        </div>
                        <div class="news_link"><a href="/home">Read More</a></div>
                    </div>
                </div>
            </div>

            <!-- News Item -->
            <div class="col-lg-4 news_col">
                <div class="news_item">
                    <div class="news_image">
                        <img src="../../../assets/images/news_3.jpg" alt="" />
                        <div class="news_date d-flex flex-column align-items-center justify-content-center">
                            <div class="news_day">03</div>
                            <div class="news_month">March, 2018</div>
                        </div>
                    </div>
                    <div class="news_content">
                        <div class="news_title">Fire Camps</div>
                        <div class="news_text">
                            <p>
                                This is ministerial training program designed to raise missionaries, church workers and evangelist for the work of
                                God. It's a 3 -day camp meetings divinely inspired for a change of level and supernatural upgrade. CALL to Register
                                for the Next Camp Meeting
                            </p>
                        </div>
                        <div class="news_link"><a href="/home">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
