<div class="news">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <div class="section_image"><img src="{{ iconImgPath }}" alt="" /></div>
                    <div class="section_title">
                        <h2>{{ title }}</h2>
                    </div>
                    <div class="section_subtitle">{{ subTitle }}</div>
                </div>
            </div>
        </div>
        <div class="row news_row">
            <div class="col-lg-4 news_col" style="cursor: pointer" *ngFor="let event of events">
                <div class="news_item">
                    <div class="news_image">
                        <img src="{{ event.iconImgPath }}" alt="" />
                        <div class="news_date d-flex flex-column align-items-center justify-content-center">
                            <div class="news_day">{{ event.detail1 }}</div>
                            <div class="news_month">{{ event.detail2 }}</div>
                        </div>
                    </div>
                    <div class="news_content">
                        <div class="news_title">{{ event.title }}</div>
                        <div class="news_text">
                            <p>
                                {{ event.description }}
                            </p>
                        </div>
                        <div class="news_link"><a (click)="onSeeDetail(event.id)">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
