<section class="s-events">
    <div class="row events-header">
        <div class="column">
            <h2 class="subhead">Upcoming Events.</h2>
        </div>
    </div>
    <!-- end event-header -->

    <div class="row block-large-1-2 block-900-full events-list">
        <!-- end events-list__item -->
        <div class="column events-list__item" *ngFor="let item of events">
            <h3 class="display-1 events-list__item-title">
                <a (click)="onSeeDetail(item.id)">{{ item.title }}</a>
            </h3>
            <p>
                {{ item.description_1 }}
            </p>
            <ul class="events-list__meta">
                <li class="events-list__meta-date">{{ item.date }}</li>
                <li class="events-list__meta-time">{{ item.time }}</li>
                <li class="events-list__meta-location">{{ item.location }}</li>
            </ul>
        </div>
        <!-- end events-list__item -->
        <!-- end events-list__item -->
    </div>
    <!-- end events-list -->
</section>
<!-- end s-events -->
