<section
    class="s-hero"
    data-parallax="scroll"
    data-natural-width="3000"
    data-natural-height="2000"
    data-position-y="center"
    [ngStyle]="{
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-position': 'center center',
        'background-image': 'url(' + imgPath1 + ')'
    }"
>
    <div class="hero-left-bar"></div>

    <div class="row hero-content">
        <div class="column large-full hero-content__text">
            <h1>
                {{ title }}
            </h1>

            <div class="hero-content__buttons">
                <a (click)="onRedirect('/events')" class="btn btn--stroke">Upcoming Events</a>
                <a (click)="onRedirect('/profile')" class="btn btn--stroke">About Us</a>
            </div>
        </div>
        <!-- end hero-content__text -->
    </div>
    <!-- end hero-content -->

    <!-- <ul class="hero-social">
        <li class="hero-social__title">Follow Us</li>
        <li>
            <a href="#0" title="">Facebook</a>
        </li>
        <li>
            <a href="#0" title="">YouTube</a>
        </li>
        <li>
            <a href="#0" title="">Instagram</a>
        </li>
    </ul> -->
    <!-- end hero-social -->

    <div class="hero-scroll">
        <a href="#about" class="scroll-link smoothscroll"> Scroll For More </a>
    </div>
    <!-- end hero-scroll -->
</section>
