.pointer {
    cursor: pointer;
}

a {
    cursor: pointer;
}

.title-section h1 {
    text-align: center;
    color: rgb(94, 1, 1);
}

.header-section h1 {
    text-align: center;
    color: rgb(241, 237, 237);
}
@import url('../src/assets/hesed/css/base.css');
@import url('../src/assets/hesed/css/main.css');
