<app-nav-bar></app-nav-bar>
<app-home-slider></app-home-slider>
<app-quote-of-the-day *ngIf="isSectionVisible('quote-of-the-day')" (isDataRetrieved)="showSection($event, 'quote-of-the-day')"></app-quote-of-the-day>
<app-intro></app-intro>
<app-activities></app-activities>
<app-home-events></app-home-events>
<app-footer></app-footer>
<!--
<app-home-ministries-material
    *ngIf="isSectionVisible('ministries-material')"
    (isDataRetrieved)="showSection($event, 'ministries-material')"
></app-home-ministries-material>
<br />
<br />
-->
