<div class="services" [ngStyle]="{ 'background-image': 'url(' + imgBackground + ')' }">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <div class="section_image"><img src="{{ iconImgPath }}" alt="" /></div>
                    <div class="section_title">
                        <h2>{{ title }}</h2>
                    </div>
                    <!-- <div class="section_subtitle">{{ subTitle }}</div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="services_text text-center">
                    <p>
                        {{ text }}
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="row services_row">
                <div
                    class="col-lg-2 col-md-4 col-sm-6 center"
                    style="cursor: pointer"
                    *ngFor="let activity of activities"
                    (click)="onSeeDetail(activity.redirectUrl)"
                >
                    <div class="services_item text-center">
                        <div class="services_image"><img src="{{ activity.iconImgPath }}" alt="" /></div>
                        <div class="services_title">{{ activity.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
